/* место для вашего кода */
.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 93px;
  padding-bottom: 95px;
}

.header__logo {
  display: flex;
  justify-self: center;
  align-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
}

.header__menu {
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 31px;
  font-size: 18px;
}

.header__links-list-item {
  padding-bottom: 5px;
  text-underline-offset: 4px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__address {
  justify-self: end;
  margin-right: 50px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-height: 757px;
  background: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.aligned-text {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: 163px;
  padding-left: 50px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  padding-right: 50px;
  text-align: center;
}

.aligned-text_right {
  padding-right: 50px;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0px;
}
.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: baseline;
  column-gap: 109px;
}

.cover__description-text {
  padding-top: 115px;
  padding-left: 50px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  min-width: 257px;
  min-height: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-top: 180px;
  margin-bottom: 118px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-right: 24px;
  padding-bottom: 30px;
  padding-left: 24px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 596px;
  list-style: none;
  background-position: center;
  background-size: cover;
}

.card-link {
  width: 100%;
  text-decoration: none;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background: url("../images/card-lot-02.jpg");
}
.card_type_picture {
  background: url("../images/card-lot-03.jpg");
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 596px;
  line-height: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  padding-top: 48px;
  padding-left: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.card__text {
  z-index: 2;
  padding-bottom: 48px;
  padding-left: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

.lots__look-more-link {
  padding-left: 64px;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 5px;
}
.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  min-height: 595px;
  margin-bottom: 180px;
  padding-left: 24px;
}

.about__column {
  display: grid;
  padding-top: 36px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 150px;
  background: #000;
}

.about__logo-image {
  flex-grow: 0;
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 100px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding-top: 101px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  margin-left: 50px;
  padding-bottom: 82px;
}

.footer__menu {
  padding-right: 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  font-size: 18px;
  list-style: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  padding-right: 50px;
  padding-left: 60px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
